/* .new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
} */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.new-expense-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 250px;
}

.new-expense-control label {
  font-weight: bold;
}

.new-expense-control input {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.new-expense-control input:focus {
  border-color: #3498db;
}

.new-expense__actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

button[type="submit"] {
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

button[type="submit"]:active {
  background-color: #207cca;
}
